.panel,
:not(.v-card) > .v-expansion-panel {
  margin: 20px;
  width: calc(100% - 40px);
}

.v-card__title {
  word-break: break-word;
}

.title {
  padding: 20px;
}

.row {
  &.full-width {
    width: 100%;
  }
}

.action-row {
  padding-top: 12px;
  .v-btn.v-btn--fab {
    color: var(--v-black-base) !important;
  }
  .v-btn.v-btn--disabled .v-icon {
    color: var(--v-black-lighten3) !important;
  }
}

.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}

.action-row--search-bar {
  padding-top: 12px;
  margin-top: 0;
  margin-right: 2px;
  .v-input__control {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 5px 10px;
    input {
      font-weight: 400;
      &::placeholder {
        font-weight: 400;
      }
    }
    .v-input__slot {
      &::before {
        border-style: none !important;
      }
      &::after {
        border-style: none !important;
      }
    }
  }
}

.action-row--search-bar:not(.max-width) {
  max-width: 50% !important;
}

.v-tooltip__content {
  z-index: 1000 !important;
}

thead.v-data-table-header th {
  white-space: nowrap;
}
.v-data-table:not(.v-data-table__default) {
  thead.v-data-table-header {
    th.text-start,
    th.text-end {
      text-align: center !important;
      .header-content-wrapper {
        text-align: center !important;
      }
    }
  }
}
// Scrollbar - chrome
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(189, 189, 189, 0.87);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 168, 168);
}
::-webkit-scrollbar-thumb:active {
  background: rgb(120, 120, 120);
}
// Scrollbar - firefox
* {
  scrollbar-width: thin;
}

// reduce bottom spacing
.v-expansion-panels {
  &.v-item-group.pa-6 {
    padding-bottom: 0px !important;
  }
  .v-expansion-panel:last-child {
    margin-bottom: 16px;
  }
}

// Add striped rows to all tables
.theme--light.v-data-table tbody tr.v-data-table__selected {
  background: #eeeeee !important;
}
.v-data-table:not(.no-striped-rows)
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:nth-child(even):not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper):not(.child-row-style) {
  background: #ffffff;
}
.v-data-table:not(.no-striped-rows)
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:nth-child(odd):not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper):not(.child-row-style) {
  background: #f5f5f5;
}
.v-data-table:not(.no-striped-rows)
  > .v-data-table__wrapper
  > table
  > thead
  tr {
  background: #ffffff;
}
.theme--light.v-data-table:not(.total-row)
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #e0e0e0 !important;
}
.v-bottom-sheet.v-dialog {
  min-height: 80%;
  max-height: 80%;
  header {
    max-height: 64px;
  }
  .v-stepper__header {
    max-height: 40px;
    margin: 0 -24px;
  }
  .v-stepper__content {
    padding: 0;

    .v-data-table >>> .v-data-table__wrapper {
      max-height: 65vh;
    }
  }
  .core-step {
    box-shadow: none;
    .v-stepper__header {
      box-shadow: none;
      border-bottom: 1px solid #e0e0e0;
    }
    .v-stepper__step {
      .v-stepper__label {
        font-size: 14px !important;
      }
    }
  }
  .v-stepper__step {
    .v-stepper__label {
      font-size: 14px !important;
    }
  }
}
thead th.sortable.active {
  color: var(--v-primary-base) !important;
  i {
    color: var(--v-primary-base) !important;
  }
}
.v-bottom-sheet.v-dialog--min-height-initial {
  min-height: initial;
}
.v-bottom-sheet.v-dialog--fullscreen {
  max-height: 100% !important;
  min-height: 100% !important;
}
.full-height {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.vertical-align-middle {
  vertical-align: middle;
}
.primary-text {
  color: var(--v-primary-base) !important;
}

.overflow-selection {
  .v-input__control {
    .v-select__selections {
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.display-none {
  display: none;
}

.icon-spinning {
  animation: spin-animation 1s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.child-row-style > td:nth-child(n + 3) {
  background-color: rgb(235, 245, 251) !important;
}

.child-row-style > td:nth-child(1) {
  background-color: #fff;
}
.child-row-style {
  background-color: #fff;
}

.child-row-style > td:nth-child(2) {
  background-color: #fff;
}
.apexcharts-legend-marker {
  border-radius: 12px !important;
}
.disable-checkbox-children
  ::v-deep
  .child-row-style
  .text-start
  .v-simple-checkbox {
  display: none;
}

.v-input--reverse .v-input__slot {
  flex-direction: row-reverse;
  justify-content: flex-end;
  .v-application--is-ltr & {
    .v-input--selection-controls__input {
      margin-right: 0;
      margin-left: 8px;
    }
  }
  .v-application--is-rtl & {
    .v-input--selection-controls__input {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}

.vue-phone-number-input.flex {
  .select-country-container {
    display: none !important;
    input {
      outline: none !important;
      border-radius: 0 !important;
      border: none !important;
      border-bottom: 1px solid #909090 !important;
      cursor: text !important;
    }
    pointer-events: none;
    .country-selector__toggle {
      display: none !important;
    }
    .country-selector__label {
      top: 0px !important;
      left: 0px !important;
      cursor: text !important;
    }
  }
  .input-tel.is-disabled {
    input::placeholder {
      color: rgba(0, 0, 0, 0.38) !important;
    }
    .input-tel__input {
      background-color: transparent !important;
      color: rgba(0, 0, 0, 0.38) !important;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.38) 50%, rgba(255, 255, 255, 0) 0%) !important;
    }
    .input-tel__label {
      color: rgba(0, 0, 0, 0.38) !important;
      font-size: 14px !important;
      margin-top: 0;
    }
  }
  .input-tel {
    .input-tel__label {
      opacity: 1 !important;
      font-size: 16px;
      left: 0px;
      right: auto;
      top: -1px !important;
      transform-origin: top left;
      color: rgba(0,0,0,.6);
      pointer-events: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    input::placeholder {
      opacity: 0;
    }
    input {
      min-height: 32px;
      max-height: 30px;
      padding: 15px 0;
    }
  }
  .is-focused, .has-value {
    .input-tel__label {
      top: -16px !important;
      left: 0px !important;
      font-size: 12px !important;
      transform: translateX(0) !important;
    }
    input::placeholder {
      opacity: 1;
      color: rgba(0,0,0,.6) !important;
    }
  }

  .input-tel__input {
    font-family: Roboto !important;
    outline: none !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #909090 !important;
    cursor: text !important;
    padding-left: 0 !important;
    font-size: 16px;
    box-shadow: none !important;
    margin-left: 0 !important;
    &:focus {
      border-bottom: 2px solid var(--v-primary-base) !important;
    }
  }
}

.adjustable-block {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.highlighted-row > td {
  background-color: #eff7e8;
}

.border-table {
  table td,
  table th {
    border-right: 1px solid var(--v-black-lighten4);
  }
  .v-data-table__wrapper table th {
    border-top: 1px solid var(--v-black-lighten4);
  }
  .v-data-table__wrapper table td:first-child,
  .v-data-table__wrapper table th:first-child {
    border-left: 1px solid var(--v-black-lighten4);
  }
  .v-data-table__wrapper table td {
    border-bottom: 1px solid var(--v-black-lighten4);
  }
}
.border-right {
  .v-data-table {
    .v-data-table__wrapper {
      border-right: 1px solid var(--v-black-lighten4);
    }
  }
}
.textNote {
  color: rgba(0,0,0,.6);
}
.v-input--indeterminate {
  .v-input__control {
    .v-input__slot {
      .theme--light.v-icon {
        color: #017acd;
      }
    }
  }
}
.custom-checkbox {
  input[type="checkbox"] {
    position: relative;
    cursor: default;
  }
  input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    background-color: #e9e9e9;
  }
  input[type="checkbox"]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    background-color: #9BC9E9;
  }
  input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 6px;
  }
}

.increase-height-bottom-sheet {
  max-height: 90vh !important;
  min-height: 90vh !important;
  .body-wrapper {
    height: 100%;
    & > .bottom-sheet-body {
      height: 100%;
    }
  }
  .body-content {
    height: 85vh !important;
    & > .row,
    .core-step  {
      height: calc(100% - 16px);
    }
    .v-stepper__content {
      height: 100%;
      & > .v-stepper__wrapper {
        height: 100%;
        & > span {
          height: 100%;
          display: block;
        }
      }
    }
  }
}
@media print {
  body {
    display: none;
  }
  .no-print {
    display: none;
  }
}